
/********** header **********/
body {
	background: #dadada;
}

.header-box {
	height: 3rem;
	background: white;
	position: relative;
}

.header-box input {
	height: 2rem;
	margin: .3rem .3rem;
	width: 75%;
	border-radius: 15px;
	border:1px solid gray;
	position: absolute;
	background: url(../resource/search.png) left no-repeat;
	background-size: 1.8rem 1.8rem;
	background-position: .5rem;
	background-color: #dadada;
	color: gray;
	padding-left: 2.5rem;
	font-size: 1rem;
}

.header-box img {
	float: right;
	height: 2rem;
	width: 2rem;
	margin: .5rem .5rem 0;
}

/*********** recommend box ***************/
.recommend-box {
	height: 5rem;
	background: white;
	margin: .5rem 0;
}

.recommend-content {
	width: 48%;
	display: inline-block;
	text-align: center;
	margin: .5rem 0;
	position: relative;
}

.recommend-content::after {
	content: " ";
	position: absolute;
	height: 2rem;
	width: 80%;
	right: 1.2rem;
	top: -.55rem;
	border-top: 2px solid #dadada;
}

.re1::before {
	content: ' ';
	position: absolute;
	height: 1.5rem;
	width: 1rem;
	left: 11rem;
	border-right: 2px solid #dadada;
}

/*********** content box ***************/
.tab {
	width: 100%;
	background: white;
	height: 4rem;
	line-height: 4rem;
	border-top: 1px solid #dadada;
	font-size: 1.3rem;
}

.tab img {
	margin: .5rem .8rem;
	height: 3rem;
	width: 3rem;
	float: left;
}

.tab label {
	font-size: .9rem;
	color: #ccc;
}

.find1, .find2, .find3 {
	margin: .8rem 0;
}

.block-space-end {
	height: 3.2rem;
}