
.footer-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background:white;
	text-align: center;
	border-top: 1px solid #dadada;
}

.footer-bar .active {
	color: #FD8100;
}

.footer-box {
	height: 4.5rem;
	display:flex;
	display:-webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.footer-bar .icon {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-shrink: 1;
	-webkit-flex-shrink: 1;
	margin: .5rem 0;
	height: auto;
}

.icon-home, .icon-mes, .icon-find, .icon-me {
	height: auto;
}

.icon-plus {
	height: auto;
}

.icon span{
	display: block;
	clear: left;
	font-size: 1rem;
}

