body {
	margin: 0;
	background: #ccc;
}

p {
	margin: .5rem 0;
}

/************contentbox header*************/

.content-header {
	padding:.68rem 0 0 .25rem;
	width: 100%;
	height: 2.25rem;
}

.avatar {
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 1.125rem;
	margin: 10px 15px;
	float: left;
}

.user-name {
	padding-top: 16px;
	font-weight: bold;
}

.tweet-info {
	margin-top: -2px;
	white-space: nowrap;
}

/************content*************/

.weibo-detail {

	background:white;
}

.default-content, .extend-content {
	word-wrap: break-word;
	padding: 0 .6rem;
}

.default-content {
	margin-top: 1.5rem;
}

.extend-content {
	background: #F7F7F7;
}

/************control footer*************/
.content-bar {
	border-top: 1px solid #dadada;
	height: 1.8rem;
	text-align: center;
}

.content-bar a {
	text-decoration: none;
	color: #929292;
}

.content-bar em {
	font-style: normal;
	line-height: 1.8rem;
}

.content-bar i {
	width: 1.5rem;
	height: 1.2rem;	
}

.box-icon-retweet {
	background: url(../resource/retweet.png) no-repeat;	
	background-size: 1.5rem 1.2rem;
	float: left;
	margin: .4rem .4rem;
}

.box-icon-retweet:before {
	content: "";
}


.content-box {
	background: white;
	min-height: 40px;
	margin-top: .5rem;
	width: 100%;
}

/************control class*************/
.txt-xxs {
	font-size:.625rem;
}

.size-md {	
	font-size: 2rem;
}

.light-gray {
	color: #929292;
}

/* rem 定位*/
@media screen and (min-width:1200px) {
  html {font-size: 50px;}
  
}

@media screen and (max-width:1500px) {
  html {font-size: 48px;}
}

@media screen and (max-width:1100px) {
  html {font-size: 46px;}
}

@media screen and (max-width:1000px) {
  html {font-size: 40px;}
}

@media screen and (max-width:900px) {
  html {font-size: 36px;}
}

@media screen and (max-width:800px) {
  html {font-size: 29px;}
}

@media screen and (max-width:700px) {
  html {font-size: 28px;}
}

@media screen and (max-width:640px) {
  html {font-size: 27px;}
}

@media screen and (max-width:617px) {
  html {font-size: 26px;}
}

@media screen and (max-width:594px) {
  html {font-size: 25px;}
}

@media screen and (max-width:571px) {
  html {font-size: 24px;}
}

@media screen and (max-width:548px) {
  html {font-size: 23px;}
}

@media screen and (max-width:525px) {
  html {font-size: 22px;}
}

@media screen and (max-width:502px) {
  html {font-size: 20px;}
}

@media screen and (max-width:480px) {
  html {font-size: 18px;}
}

@media screen and (max-width:457px) {
  html {font-size: 16px;}
}

@media screen and (max-width:434px) {
  html {font-size: 15px;}
}

@media screen and (max-width:411px) {
  html {font-size: 15px;}
}
