body {
	margin: 0;
	background: #ccc;
}

.content-header {
	height: 80px;
}

.avatar {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 10px 15px;
	float: left;
}

.user-name {
	padding-top: 15px;
	font-weight: bold;
}

.content {
	
}

.content-box {
	background: white;
	min-height: 40px;
	width: 100%;
}

