
.nav-bar {
	width: 100%;
	background-color: white;
	position:fixed;
	top: 0;
	line-height: 3.5rem;
	border-bottom:1px solid #dadada;
	z-index: 2;
}

.nav-row {
	text-align: center;
	line-height: 3.5rem;
}

.nav-bar .icon {
	display: inline-block;
}

.follow-more {
	float:left;
	text-align: left;
	margin-left: 1rem;
}

.nav-bar .user-name {
	font-size: 1.5rem;
	position: relative;
}

.nav-bar .user-name::after {
	background: url('../resource/down-arrow-red.png') no-repeat;
	background-size: 1.1rem .60rem;
	width: 1.1rem; height: .60rem;
	content: ' ';
	margin-left: .2rem;
	bottom: 1.5rem;
	position: absolute;
}

.tools {
	float:right;
	text-align: right;
	margin-right: 1rem;
}

.nav-row img {
	width: 2rem;
	height: 1.8rem;
	margin-top: .6rem;
	-webkit-transition: width 1s;
	transition: width 1s;
}

.nav-row img:hover {
	width: 2rem;
}

