<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/find.css">
</head>
<body>


<!-- footer-bar -->
<div class="block-space-end"></div>
<link rel="stylesheet" href="../css/footer.css">
<div class="footer-bar">
	<div class="footer-box">
		<div class="icon">
			<img class="icon-home" src="../resource/home.png" alt="首页">
			<span>首页</span>
		</div>
		<div class="icon">
			<img class="icon-mes" src="../resource/mes.png" alt="消息">
			<span class="">消息</span>
		</div>
		<div class="icon">
			<img class="icon-plus" src="../resource/plus.png" alt="更多">
		</div>
		<div class="icon">
			<img class="icon-find" src="../resource/find-active.png" alt="发现">
			<span class="active">发现</span>
		</div>
		<div class="icon">
			<img class="icon-me" src="../resource/me.png" alt="我">
			<span>我</span>
		</div>
	</div>
</div>
</body>
</html>