<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<link rel="stylesheet" href="../css/footer.css">
<div class="footer-bar">
	<div class="footer-box">
		<div class="icon">
			<img src="../resource/home-active.png" alt="首页">
			<span>首页</span>
		</div>
		<div class="icon">
			<img src="../resource/mes.png" alt="消息">
			<span>消息</span>
		</div>
		<div class="icon">
			<img src="../resource/plus.png" alt="更多">
		</div>
		<div class="icon">
			<img src="../resource/find.png" alt="发现">
			<span>发现</span>
		</div>
		<div class="icon">
			<img src="../resource/me.png" alt="我">
			<span>我</span>
		</div>
	</div>
</div>
</body>
</html>