<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
<div class="content-container">
	<div class="content-box">
		<div class="content-header">
			<i class="item-avatar"><img class="avatar" src="http://ww4.sinaimg.cn/crop.0.0.180.180.1024/717f7411jw1eee33m060uj2050050glv.jpg" alt="头像"></i>
			<div class="user-name">微博开放平台</div>
			<div class="tweet-info txt-xxs light-gray">
				<span class="created_time">7小时前</span>
				<span class="source">来自 微博 weibo.com</span>
				<i class="more"><img src="" alt="查看更多"></i>
			</div>
		</div>
		<div class="weibo-detail">
			<p class="default-content">转发微博</p>
			<div class="extend-content">
				<div class="inner">
					<p class="weibo-original">哈哈哈哈发货方干哈了干哈科技馆阿黑哥垃圾管理空间按空格了这款V领框架爱国</p>
					<div class="media-pic-list"></div>
				</div>
			</div>
		</div>
		<div class="content-bar">
			<a href="" class="icon-box">
				<i class="box-icon-retweet"></i>
				<em>15</em>
			</a>
			<a href="" class="icon-box">
				<i></i>
				<em>13</em>
			</a>
			<a href="" class="icon-box">
				<i></i>
				<em>189</em>
			</a>			
		</div>
	</div>

	<div class="content-box">
		<div class="content-header">
			<i class="item-avatar"><img class="avatar" src="http://ww4.sinaimg.cn/crop.0.0.180.180.1024/717f7411jw1eee33m060uj2050050glv.jpg" alt="头像"></i>
			<div class="user-name">微博开放平台</div>
			<div class="tweet-info txt-xxs light-gray">
				<span class="created_time">7小时前</span>
				<span class="source">来自 微博 weibo.com</span>
				<i class="more"><img src="" alt="查看更多"></i>
			</div>
		</div>
		<div class="weibo-detail">
			<p class="default-content">转发微博</p>
			<div class="extend-content">
				<div class="inner">
					<p class="weibo-original">哈哈哈哈发货方干哈了干哈科技馆阿黑哥垃圾管理空间按空格了这款V领框架爱国</p>
					<div class="media-pic-list"></div>
				</div>
			</div>
		</div>
		<div class="content-bar">
			<a href="" class="icon-box">
				<i></i>
				<em>转发</em>
			</a>
			<a href="" class="icon-box">
				<i></i>
				<em>评论</em>
			</a>
			<a href="" class="icon-box">
				<i></i>
				<em>赞</em>
			</a>			
		</div>
	</div>

	<div class="box-icon-retweet"></div>
</div>
</body>
</html>