<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maxinum-scale=1">
	<meta name="viewport" content="width=360">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="stylesheet" type="text/css" href="../css/navigator.css">
	<link rel="stylesheet" type="text/css" href="../css/drawer.css">
	<script type="text/javascript" src="../js/util.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
</head>
<body>
<!-- nav-bar -->
<div class="nav-bar">
	<div class="nav-row">
		<div class="icon follow-more"><img src="../resource/more-follow.png" alt="更多关注"></div>
		<div class="icon tools"><img src="../resource/tools.png" alt="工具"></div>
		<div class="icon user-name">组长碎念</div>
	</div>
</div>
<div class="block-space"></div>

<!-- content-box -->
<div class="content-box-container">
	<div class="content-box" style="display:none;">
		<div class="content-header">
			<i class="item-avatar"><img class="avatar" src="" alt="头像"></i>
			<div class="user-name"></div>
			<div class="tweet-info txt-xxs light-gray">
				<span class="created-time"></span>
				<span class="source"></span>
				<i class="more"><img src="../resource/more.png" alt=""></i>
			</div>
		</div>
		<div class="weibo-detail">
			<p class="default-content"></p>
			<div class="default-pic-list"></div>
			<div class="extend-content">
				<div class="inner">
					<p class="weibo-original"></p>
					<div class="media-pic-list"></div>
				</div>
			</div>
		</div>
		<div class="content-bar">
			<a href="" class="icon-box">
				<i class="icon icon-repost repost-count"></i>
			</a>
			<i class="line"></i>
			<a href="" class="icon-box">
				<i class="icon icon-comment comment-count"></i>
			</a>
			<i class="line"></i>
			<a href="" class="icon-box">
				<i class="icon icon-attitude attitude-count"></i>
			</a>			
		</div>
	</div>
</div>

<!--loading icon-->
<div class="loading" style="display: none">
	<img class="load-more" src="../resource/loading.gif" alt="加载中"/> <label for="">加载中</label>
</div>

<!-- footer-bar -->
<div class="block-space-end"></div>
<link rel="stylesheet" href="../css/footer.css">
<div class="footer-bar">
	<div class="footer-box">
		<div class="icon">
			<img class="icon-home" src="../resource/home-active.png" alt="首页">
			<span class="active">首页</span>
		</div>
		<div class="icon">
			<img class="icon-mes" src="../resource/mes.png" alt="消息">
			<span>消息</span>
		</div>
		<div class="icon">
			<img class="icon-plus" src="../resource/plus.png" alt="更多">
		</div>
		<div class="icon">
			<img class="icon-find" src="../resource/find.png" alt="发现">
			<span>发现</span>
		</div>
		<div class="icon">
			<img class="icon-me" src="../resource/me.png" alt="我">
			<span>我</span>
		</div>
	</div>
</div>

<!-- drawer -->
<div class="drawer">
	<div class="draw-setting">
		<div class="draw-header"><img class="back-icon" src="../resource/back.png"></img><p>设置</p></div>
		<div class="draw-content">
			<div class="set account-set">
				<a href="">
					<div class="draw-text">账号管理</div>
					 
				</a>				
			</div>
			<div class="set other-set">
				<a href="">
					<div class="draw-text">通知</div>
					 
				</a>
				<a href="">
					<div class="draw-text">隐私与安全</div>
					 
				</a>
				<a href="">
					<div class="draw-text">通用设置</div>
					 
				</a>
			</div>
			<div class="set feedback-set">
				<a href="">
					<div class="draw-text">意见反馈</div>
					 
				</a>
				<a href="">
					<div class="draw-text">关于微博</div>
					 
				</a>				
			</div>			
			<div class="set help-set">
				<a href="">
					<div class="draw-text">夜间模式</div>
					 
				</a>
				<a href="">
					<div class="draw-text">清除缓存</div>
					 
				</a>
			</div>
			<div class="set logout-set">
				<a href="">
					<div class="draw-text logout">退出微博</div>
				</a>				
			</div>			
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/home.js"></script>
<script type="text/javascript" src="../js/drawer.js"></script>
</html>