<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/message.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
<!-- header -->
<div class="header">
	<div class="header-box">
		<div class="left">发现群</div>
		<div class="right">
			<img src="../resource/chat.png" alt="">
		</div>
		<div class="middle">消息</div>
	</div>
</div>

<!-- search bar -->
<div class="search-container">
	<div class="search-bar">
		<input type="text" placeholder="搜索联系人和群">
	</div>
</div>

<!-- content -->
<div class="content-container">
	<div class="content-box">
		<div class="icon-sys">
			<img class="m-icon" src="../resource/1.png" alt="">
			<div class="icon-text">@我的</div>
			
		</div>
		<div class="icon-sys">
			<img class="m-icon" src="../resource/2.png" alt="">
			<div class="icon-text">评论</div>	
			
		</div>
		<div class="icon-sys">
			<img class="m-icon" src="../resource/3.png" alt="">
			<div class="icon-text">赞</div>
			
		</div>
		<div class="icon-sys">
			<img class="m-icon" src="../resource/4.png" alt="">
			<div class="icon-text">订阅消息</div>
			
		</div>
		<div class="icon-sys">
			<img class="m-icon" src="../resource/5.png" alt="">
			<div class="icon-text">未关注人消息</div>
			
		</div>
		<div class="icon-user">
		</div>
		<div class="icon-user"></div>
		<div class="icon-user"></div>
		<div class="icon-user"></div>
	</div>
</div>

<!-- footer-bar -->
<div class="block-space-end"></div>
<link rel="stylesheet" href="../css/footer.css">
<div class="footer-bar">
	<div class="footer-box">
		<div class="icon">
			<img class="icon-home" src="../resource/home.png" alt="首页">
			<span>首页</span>
		</div>
		<div class="icon">
			<img class="icon-mes" src="../resource/mes-active.png" alt="消息">
			<span class="active">消息</span>
		</div>
		<div class="icon">
			<img class="icon-plus" src="../resource/plus.png" alt="更多">
		</div>
		<div class="icon">
			<img class="icon-find" src="../resource/find.png" alt="发现">
			<span>发现</span>
		</div>
		<div class="icon">
			<img class="icon-me" src="../resource/me.png" alt="我">
			<span>我</span>
		</div>
	</div>
</div>

</body>
</html>